{% extends "basic.html" %}
{% block head %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/admin.css')}}">
{% endblock %}
{% block main %}
<main>
    <h1>目前注册的用户： </h1>
    <table>
        <tr>
            <th>用户</th>
            <th>邮箱</th>
            <th>来自</th>
            <th>个性签名</th>
            <th>角色</th>
            <th colspan="2">操作</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.location }}</td>
            <td>{{ user.description }}</td>
            <td>{{ user.role.name }}</td>
            <td><a href="{{ url_for('auth.admin_edit',username=user.name)}}">编辑</a></td>
            <td><a href="{{ url_for('auth.admin_delete',username=user.name)}}">删除</a></td>
        </tr>
        {% endfor %}
    </table>
</main>
{% endblock %}