{% extends "basic.html" %}
{% block head %}
{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/forms.css')}}">
{% endblock %}

{% block main %}
    <form method="post">
        <div>
            {{form.hidden_tag()}}
        </div>
        <div>
            {{ form.username.label }}
            {{ form.username(class_='username' )}}
        </div>
        <div>
            {{ form.password.label }}
            {{ form.password(class_='passwd')}}
        </div>
        <div>
            {{form.submit(class_='submit')}}
        </div>
    </form>
{% endblock %}