{% extends "basic.html"%}
{% block head %}
{{ super() }}
    <style>
        .pagination{

        }
    </style>
{% endblock %}
{% import '_macros.html' as macros %}
{% block main %}
<ul class="main_index">
    {% for post in posts %}
    <li><a href="{{ url_for('article.article_detail',article_id=post.id)}}">{{ post.name }}</a>
        <span><a href="{{ url_for('user.profile',username=post.author.name)}}">{{ post.author.name }}</a></span>
        <span><a href="{{ url_for('article.article_list',username=post.author.name)}}">进入博客</a></span>
    </li>
    {% endfor %}



</ul>
  {{ macros.pagination_widget(paginate,'main.index')}}
{% endblock %}