{% extends "basic.html"%}
{% import '_macros.html' as macros %}
{% block main %}
<ul>
    {% for post in posts %}
    <li><a href="{{ url_for('article.article_detail',article_id=post.id)}}">{{ post.name }}</a>
        <a href="{{ url_for('user.profile',username=post.author.name)}}">==========>{{ post.author.name }}</a>
        <a href="{{ url_for('article.article_list',username=post.author.name)}}">===========>进入博客</a>
    </li>
    {% endfor %}
    <div class="pagination">
        {{ macros.pagination_widget(paginate,'main.index')}}
    </div>
</ul>

{% endblock %}