{% extends "basic.html"%}
{% block main %}
    <form method="post">
        {{ form.hidden_tag()}}
        <div>
            {{ form.name.label }}
            {{ form.name(classs_='name') }}
            {% for error in form.name.errors %}
            <span style="color:red">{{ error}}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.localtion.label }}
            {{ form.localtion(class_='localtion')}}
            {% for error in form.localtion.errors %}
            <span style="color:red">{{ error}}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.description.label }}
            {{ form.description(class_='description')}}
            {% for error in form.description.errors %}
            <span style="color:red">{{ error}}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.submit(class_='submit')}}
        </div>
    </form>
{% endblock %}