form{
    float:left;
    text-aligin:center;
    margin-top:5%;
    padding:8rem;
}
form input{
    width:10rem;
    padding:0.3rem;
}
form div{
    width:16rem;
    margin:1rem;

}
form div label{
    font-family:"微软雅黑",
    font-size:14px;
    width:30%;
    display:inline-block;
    text-align:right;
}
form .submit{
    width:5rem;
    height:2rem;
    float:right;
    border:none;
    background-color: #66b2ff;
    cursor:pointer;
    margin-right:1rem;
}