body,
div,
p,
nav,
main,
article,
h1,
h2,
h3,
h4,
img,
label,
input,
footer,
header,
button,
ul,
li
ol{
    padding:0;
    margin:0;
    list-style:none;
}
a{
    color:#fffff;
}
.main_index{

}
.main_index li{
    display:block;
    padding:0.5rem;
}
.main_index span{
    font-size:12px;
    float:right;
    padding-left:1rem;
}
header {
    background-color:#262626;
    color: #f2f2f2;
    font-family:"微软雅黑";
}
header a{
    color: #f2f2f2;
    text-decoration:none;
}
header h1{
    font-size:1.6rem;
    padding:0.7rem;
    display:inline-block;
    margin-left:1rem;
}
header nav{
    float:right;
    text-align:right;
    margin-right:1.5rem;
}
header div ul{
    display:block;
    width:300px;
    list-style:none;
}
header div ul li{
    padding:1rem;
    display:inline-block;
}
header div ul li.nav-header{
    position:relative;
    cursor:pointer;
    padding:1rem;
}
header div ul li.nav-header a.profile{
    display:block;
    height:2rem;
}

header div.nav-content{
    position:absolute;
    left:0.2rem;
    top:3.5rem;
    width:5rem;
    padding:1.5rem,0;
    display:none;
    font-size:14px;
    height:5rem;
}
header div.nav-content a{
    color: #f2f2f2;
    background-color:#262626;
    display:block;
    text-decoration:none;
    height:2rem;
    line-height:2rem;
    text-align:center;
}
.nav-header:hover .nav-content{
    cursor:pointer;
    display:block;
}


/*分页*/
ul.pagination {
    display: inline-block;
    padding: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}
.disabled{
    background-color:#ddd;
}
main{
    margin:0 auto;
    width:60rem;
    padding:1rem;

}
main div{
    font-size:16px;
    font-family:"微软雅黑",
    padding:1rem;
    margin-top:2rem;
}