{% extends "basic.html" %}
{% block head %}
    {{ super()}}

<style>
    #text1{
        display:none;
    }
</style>
{% endblock %}
{% block main %}
    <form method="POST">
        <div>
            {{ form.hidden_tag() }}
        </div>
        <div>
            {{ form.name.label }}
            {{ form.name(class_='name' )}}
            {% for error in form.name.errors %}
            <span style="color:red;">{{error}}</span>
            {% endfor %}
        </div>
        <div id='content'>

        </div>
        {{ form.body(id='text1')}}
        {% for error in form.body.errors %}
            <span style="color:red;">{{error}}</span>
        {% endfor %}
        <div>
            {{ form.submit(class_='submit' )}}
        </div>
    </form>
{% endblock %}
{% block script%}
    {{ super() }}
    <script src="https://unpkg.com/wangeditor/release/wangEditor.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
     <script type="text/javascript">
       var E = window.wangEditor
        var editor = new E('#content')
        var $text1 = $('#text1')
        var $content = $('#content')

        editor.customConfig.onchange = function (html) {
            // 监控变化，同步更新到 textarea
            $text1.val(html)
        }
        editor.create()


        // 初始化 textarea 的值
        $text1.val(editor.txt.html())


    </script>
{% endblock %}