<html lang="en">
{%block head%}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{{ url_for('static',filename='css/main.css')}}" rel="stylesheet">
</head>
{% endblock %}
<body>
<header>
    <h1><a href="{{ url_for('main.index')}}">简书</a></h1>
    <nav>
        <div class="nav-container">
        {% if not current_user.is_authenticated %}
             <ul>
                <li class="nav-header"><a href="{{ url_for('auth.login')}}">登录</a></li>
                <li><a href="{{url_for('auth.register')}}">注册</a></li>
            </ul>
        {% else%}
            <ul>
                <li class="nav-header">
                    <a class="profile">{{ current_user.name }}</a>
                    <div class="nav-content">
                        {% if current_user.can(Permissions.ADMINISTER)%}
                        <a href="{{ url_for('auth.for_admin_only')}}">管理后台</a>
                        <a href="{{ url_for('user.profile',username=current_user.name)}}">用户中心</a>
                        <a href="{{ url_for('article.article_list',username=current_user.name)}}">我的博客</a>
                        <a href="{{ url_for('auth.logout')}}">退出登录</a>
                        {% else %}
                        <a href="{{ url_for('user.profile',username=current_user.name)}}">用户中心</a>
                        <a href="{{ url_for('article.article_list',username=current_user.name)}}">我的博客</a>
                        <a href="{{ url_for('auth.logout')}}">退出登录</a>
                        {% endif %}
                    </div>
                </li>
                <li><a href="{{url_for('article.new_article')}}">新增文章</a></li>
            </ul>

        </div>
        {% endif %}
    </nav>
</header>
{% block main%}{% endblock %}
{% block script %}
<script src="{{ url_for('static', filename='js/main.js')}}"></script>
{% endblock %}
</body>
</html>